[2021-02-22 09:46] mingchuno commented on #385
Checkout the doc in here: https://github.com/expressjs/session
keywords: `resave` & `rolling`

[2021-02-22 09:47] mingchuno commented on #384
@karstens I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:47] mingchuno commented on #382
@quint1x I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:47] mingchuno commented on #380
@IzaGz I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:48] mingchuno commented on #379
Close due to duplicated with #380

[2021-02-22 09:48] #379 closed

[2021-02-22 09:48] mingchuno commented on #378
@jeroentvb I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:48] mingchuno commented on #375
Yes! @Dunky13 I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:48] mingchuno commented on #372
@jas- I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:49] mingchuno commented on #368
@IzaGz @shaharsol I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:49] mingchuno commented on #352
@Ekman @ihgrant I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 09:49] mingchuno commented on #351
@thernstig @YC I have just rewrite the code using TS and published a new version! Can you please help me try it out to see of it fix your issue? https://www.npmjs.com/package/connect-mongo

[2021-02-22 10:25] Dunky13 commented on #375
I will check it out and let you know, thanks!

[2021-02-22 13:23] YC commented on #351
I did a few tests on the effects of `resave` and `rolling`.

[code]

Therefore, I think that the changes in #383 may have fixed `resave: false, rolling: true` but introduced regressions in other combinations. Apologies for this.

[2021-02-22 14:14] goto1 opened #388 "Removing expired sessions after migrating to V4."
- **I'm submitting a ...**
  [x] question about how to use this project

- **Summary**

Hello, thank you for this great package.

I have a question related to changes in `V4` for the `autoRemove` and `autoRemoveInterval` feature.

In `V3` I was able to use `autoRemove: interval` & `autoRemoveInterval: 20`, which sounds like a different behavior than what I would get with `autoRemove: native` that

[2021-02-22 14:28] Abourass opened #389 "Question: Dropped support for Mongoose?"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [X] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
 I noticed that mongoose is now only supported in version 3. Are you eventually going to add mongoose support back in, or plan to exclude it going forward? Thank you!

[2021-02-22 14:37] mingchuno commented on #351
@YC Ya. I exactly patch your code to v4 but I didn't test thoroughly. So should we revert the changes first ? I love your table and I should probely convert it to some kind of unit test ... 🤔

[2021-02-22 14:39] mingchuno commented on #388
You are correct. I have removed the `autoRemove` & `autoRemoveInterval` and rely only on TTL collection feature. If you have a legit use case. I think I can add back the options

[2021-02-22 14:42] mingchuno commented on #389
For the simplicity of the library. I drop the ability to use mongoose instance directly when constructing `MongoStore`. I expect one can create a native client first and then supply it to both `mongoose` and `connect-mongo`. Can we?

[2021-02-22 15:14] mingchuno commented on #351
@YC Btw can you give me a table on the expected behaviour?

[2021-02-22 18:51] jeroentvb commented on #378
Yep, solved by updating!

[2021-02-22 18:51] #378 closed

[2021-02-22 18:57] jeroentvb commented on #386
This one is not solved yet. Also getting the error after upgrading.

Package versions
[code]

[2021-02-22 21:51] barisusakli opened #390 "Error: unable to find the session to touch on 4.1.0"
- **I'm submitting a ...**
  [*] bug report

- **Summary**
It seems like when `res.send` is called the touch method is triggered and the following code tries to update the session object. But there are no changes so `modifiedCount` is 0 and it throws an error.

[code]

[code]
Which leads to
[code]

Let me know if you need more info.

[2021-02-22 23:10] barisusakli commented on #390
Some more info, this is happening on a cold load where express is also serving static assets. So a single cold load is triggering the touch function about 60 times. Out of those ~5 of them are failing with this error message because they use the same `updateFields` for the update function.

I tried adding `touchAfter: 5000` to see if it would make a difference but that code block is never executed

[2021-02-23 02:01] mingchuno commented on #386
@jeroentvb What is the warning? Can you show me?
Also, here is a simple setup that you can reference: https://github.com/jdesboeufs/connect-mongo/blob/master/example/index.js

[2021-02-23 02:02] mingchuno commented on #390
`touchAfter` should work ... But i wonder why the `touch` function will be trigger 60 times on a cold start. Do you have a simple reproduceable build? What env / set up are you running on?

[2021-02-23 02:53] barisusakli commented on #390
@mingchuno hello, what I meant by cold load is when I hit f5 to reload the home page of the app. It is not during nodejs application start. When I do a reload the browser makes a lot of requests to load all the assets and each of these requests calls `res.send` which triggers `touch` and some of them try to update the mongodb object with the same data so they get back `modifiedCount=0`. I checked

[2021-02-23 02:59] mingchuno commented on #390
@barisusakli Changing from `modifiedCount` to `matchedCount` should fix the issue. Let me create a PR

[2021-02-23 03:00] mingchuno commented on #390
@barisusakli I also would like to invistigate why the `touchAfter` not working as expected

[2021-02-23 03:03] barisusakli commented on #390
@mingchuno when I was debugging it earlier the session object never had a `lastModified` value so it was never going into the if statement here https://github.com/jdesboeufs/connect-mongo/blob/master/src/lib/MongoStore.ts#L360

[2021-02-23 03:14] mingchuno commented on #390
@barisusakli I have changed the `modifiedCount` to `matchedCount`. Please test with `npm install connect-mongo@next`. For the missing `lastModified`, I will investigate later.

[2021-02-23 03:55] barisusakli commented on #390
This error is gone on `@next` after the `matchedCount` change
[code]

Thanks.

[2021-02-23 04:14] barisusakli commented on #390
I don't know if this is related but I got the below error but it was random, couldn't get it again.

[code]

At that line the `session` variable is null

[2021-02-23 05:51] mingchuno commented on #390
okay. Let me take a look later. You can also help to take a look on the root cause if you are available 🙏🏻

[2021-02-23 06:43] YC commented on #351
Maybe it will be better to roll back the change first.
I'm currently unsure about the effects of `expires` and `session.cookie.expires` and whether they should always stay in sync.
To make sure, I think a closer look needs to be taken at why both exists and integration tests with `express-session` will have to be written.
Unfortunately, I don't currently have time to further investigate, but will

[2021-02-23 06:52] mingchuno commented on #351
@YC I have just reverted it in `develop` branch. https://github.com/jdesboeufs/connect-mongo/commit/82e1831b80fc5982b31a14b8db7dd0490d42d3a9
I will group the bug fixes and cut a release later.

[2021-02-23 07:54] cybay commented on #389
Why do not stand this clearly - there is not any more such abilities that you used to.  And an ability to utilize existing mongoose connection as one of them.
It could be at least respectful to your users.

As for me - I waste several hours to find the way how to adopt my web-app after updating to 4.1.
 And now I see that it's simply impossible (((

Do you think that it's so obvious or funny enoug

[2021-02-23 10:10] mingchuno commented on #389
@cybay @Abourass Please checkout my example in `develop` branch
https://github.com/jdesboeufs/connect-mongo/blob/develop/example/mongoose.js

[2021-02-23 10:12] mingchuno commented on #386
I have fixed this in https://github.com/jdesboeufs/connect-mongo/commit/37e8d3200e1ac37ad35b0ea2c39e51abb67974b4
at `develop` branch. Will cut a release when I group the bug fixes.

[2021-02-23 10:17] #384 closed

[2021-02-23 10:17] #389 closed

[2021-02-23 10:18] #386 closed

[2021-02-23 10:18] #375 closed

[2021-02-23 10:18] #352 closed

[2021-02-23 10:19] #368 closed

[2021-02-23 10:24] karstens commented on #384
@mingchuno That is great news, i will do it today! Thank you!

[2021-02-23 10:39] mingchuno commented on #384
@karstens After released V4. There are still some bug fix on going. You may need to check out `npm install connect-mongo@next` too. Will try to fix those bugs and relasae 4.2 soon

[2021-02-23 12:24] cybay commented on #389
A lot of thanks for reply and help!
It does work, the problem solved.

But any way - let your users/clients save their Time.
It's worth it!

[2021-02-23 12:45] karstens commented on #384
@mingchuno Issue is fixed! Thank you.

[2021-02-23 13:52] guyellis opened #391 "TypeScript "redefinition" errors in 4.1.0"
- **I'm submitting a ...**
  [x] bug report

- **Summary**

Just trying out connect-mongo@4.1.0. Thank you for converting this to TypeScript!

I'm getting a number of TypeScript transpiler errors from the definitions.

For example, in lib/MongoStore.d.ts the MongoStore extends session.Store and redefines `get` as:

`get(sid: string, callback: (err: ErrorOrNull, session?: session.SessionData | null

[2021-02-23 14:39] OliverwengFiltered opened #392 "TypeError: Cannot read property 'lastModified' of null"
bug report

I followed the  migration doc, however, I'm getting the above error on logout.

here is my code to initialize the session with mongostore.

![Screen Shot 2021-02-23 at 9 37 52 AM](https://user-images.githubusercontent.com/28814939/108859061-d736ed00-75ba-11eb-872e-98545a6f18a8.png)

and here is the code for log out.

and I'm doing
` req.session.destroy()` and `req.logout()` on logout a

[2021-02-23 14:45] mingchuno commented on #391
@guyellis It is actuallyy a bit tricky here. The TS definition of the store state that it is `err: any` but it is too general. In reality, it will only be `Error | null`. But since major store impl are not written in TS, so it does not matter before. May be I can change it back to `any` 🤔 Any way to bypass the error?

[2021-02-23 14:48] mingchuno commented on #392
@OliverwengFiltered Ya, `lastModified` part got some bug. It is also reported in #390 and I plan to fix it in v4.2.0.
Can you please try to add the env `DEBUG=connect-mongo` to have a more detailed log?

[2021-02-23 15:08] guyellis commented on #391
When you extend that class is it possible to use some sort of `Omit<>` trick that removes that definition completely and then allows you to redefine it?

Omit Utility Type: https://www.typescriptlang.org/docs/handbook/utility-types.html#omittype-keys

[2021-02-23 15:13] guyellis commented on #391
I just skimmed through this article that might have some clues on how to do this: https://medium.com/dailyjs/typescript-create-a-condition-based-subset-types-9d902cea5b8c

[2021-02-23 16:30] mingchuno commented on #390
This commit should fix the issue https://github.com/jdesboeufs/connect-mongo/commit/46a40db8a6d967ba0b1c2ad03b7281f832267f20

[2021-02-23 16:31] mingchuno commented on #392
This commit should fix the issue https://github.com/jdesboeufs/connect-mongo/commit/46a40db8a6d967ba0b1c2ad03b7281f832267f20

[2021-02-23 16:44] barisusakli commented on #390
@mingchuno thanks

[2021-02-23 22:05] goto1 commented on #388
@mingchuno thank you for your response.

I wanted to confirm that's still the case, and it appears to be, but the problem I am running into is because I am using `MongoDB` with `Azure Cosmos DB` and according to the [docs](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-time-to-live#ttl-indexes),

I used `autoRemove: "interval"` and `autoRemoveInterval: 10` in `V3` based on the suggestion

[2021-02-24 02:36] mingchuno commented on #391
@guyellis Try to align with the original typedef but it just doesn't work.
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/express-session/index.d.ts#L342
https://github.com/expressjs/session#storetouchsid-session-callback
You can see the typedef of touch is:
[code]
But the doc said the implementation should call `callback(error)`

[2021-02-24 03:21] #390 closed

[2021-02-24 03:31] mingchuno commented on #388
@goto1 released in 4.2.0. Please check
https://github.com/jdesboeufs/connect-mongo/commit/8c1d180d43c9bc8816808410b0aaa38dfdfcbcd3

[2021-02-24 03:31] #388 closed

[2021-02-24 03:31] mingchuno commented on #392
released in 4.2.0

[2021-02-24 03:31] #392 closed

[2021-02-24 03:31] mingchuno commented on #391
released in 4.2.0 please check

[2021-02-24 15:05] goto1 commented on #388
@mingchuno works beautifully, thank you!

Would you take a PR that updates the [more options](https://github.com/jdesboeufs/connect-mongo#more-options) section and puts back the `autoRemove` & `autoRemoveInterval` options?

Thanks again!

[2021-02-24 16:26] mingchuno commented on #388
@goto1 Ya I missed that. Let me add it back

[2021-02-24 21:06] goto1 commented on #388
@mingchuno thank you for your prompt responses, much appreciated!

Have a good rest of the week.

[2021-02-25 00:20] jas- commented on #372
Thanks, I was reading through [https://github.com/jdesboeufs/connect-mongo/blob/master/src/lib/MongoStore.spec.ts#L253](the comments) and it says 'buggy'? I am firing up a test project to work with the new release and thought you might be able to elaborate?

[2021-02-25 07:13] mingchuno commented on #372
I have tried to re-implement the crypto login referencing your PR. But  I found that somehow the result from `store.get` becomes stringified version of the underlying session instead of POJO. I must have some error in my code but I didn't have enough time to invistage. Therefore I mark is as "buggy" and would like to come back on this issue later. It would be great if you can help test and debug t

[2021-02-27 18:58] aa15032261 opened #393 "TypeError: Cannot read property 'expires' of undefined when using the crypto option"
This error only appears when crypto.secret is set.

I have done some debugging and the issue seems to be that the session object is over stringified while the crypto option is used. Therefore, the session json is not converted to an object while the createSession function treats the session parameter as an object.

At MongoStore.js line 197, the session is still a json string when it is passed to

[2021-02-28 13:40] mingchuno commented on #393
Yes, I am aware of this too when migrating to Typescript but I didn't have time to fix it yet. It could be if you can provide me a PR for the fix. 🙏🏻

[2021-02-28 13:41] mingchuno commented on #393
Related to #372

[2021-02-28 13:56] jas- commented on #393
As an FYI, a new release for kruptein should address this with `v3.0.0`. I have been testing with the example project and should have a PR soon

[2021-03-01 12:04] jas- commented on #372
Issue tracking in #393.

[2021-03-01 12:04] #372 closed

[2021-03-01 12:09] jas- commented on #393
Landed in ##394, I have gotten this to pass in my own dev env. but am not able to determine where the error is from the github workflow

[2021-03-02 03:02] mingchuno commented on #393
fixed in 4.2.2

[2021-03-02 03:02] #393 closed

[2021-03-02 14:19] Enado95 commented on #389
This page is no longer available. Can you share how this was resolved?

[2021-03-02 14:46] cybay commented on #389
https://github.com/jdesboeufs/connect-mongo/blob/master/example/mongoose.js

In here you can see actually the same.

[2021-03-02 15:03] Enado95 commented on #389
Thanks!

[2021-03-03 10:00] adamhavel opened #397 "Mongoose connection"
I have an issue using Mongoose connection as shown in the provided example. I connect to MongoDB this way:

[code]

When creating the session store, this doesn't work, because `getClient` doesn't return Promise but connect-mongo expects one:
```clientPromise: connection.getClient()```

Therefore, I have to do this:
```clientPromise: Promise.resolve(connection.getClient())```.

[2021-03-03 11:33] mingchuno commented on #397
[code]

[2021-03-03 14:27] adamhavel commented on #397
I'm not sure I understand what you are getting at. This is the official example:
[code]

The only reason the `clientP` is Promise, is because it's returned by the `then` function which wraps its return value in `Promise.resolve`. Because I'm not using Promises this way, but employ `await` instead, I don't get a Promise.

My point: `clientPromise` should internally wrap the given value with `Promis

[2021-03-04 20:10] ceecko commented on #386
@mingchuno This is still present in 4.2.2

[2021-03-05 01:27] mingchuno commented on #386
@ceecko Can you providee reproduceable example?

[2021-03-05 09:19] ceecko commented on #386
I'm sorry for the confusion. This was coming from the mongoose instead of connect-mongo.

[2021-03-05 09:34] mingchuno commented on #386
@ceecko ??? Can you provide more details?

[2021-03-05 09:41] ceecko commented on #386
With mongoose `5.11.18` and node `14.15.1` you can run

[code]

To get
[code]

[2021-03-05 09:45] jeroentvb commented on #386
I have traced the warning back to the mongodb package. It is fixed by this commit, which hasn't been included in a release yet https://github.com/mongodb/node-mongodb-native/commit/d67ffa7a2e3f86734c7e9b6944aab1d765b9e75e

[2021-03-05 10:10] jeroentvb commented on #386
For my project, this isn't an issue coming from `connect-mongo`. Downgrading `mongodb` in my package.json to v3.6.3 solves it.

[2021-03-05 13:23] mingchuno commented on #386
https://github.com/jdesboeufs/connect-mongo/blob/72538719a85392754415318b73bdd336f161ea6d/package.json#L64
I am pinning `3.6.3` too

[2021-03-06 04:06] jackharrhy commented on #397
Is there an issue with `clientPromise` being `Promise<MongoClient> | MongoClient | undefined` instead of `Promise<MongoClient> | undefined`?

You can just as easily `await mongoose.connect(...` as you can `mongoose.connect(...).then(` it, therefore removing the need to ever be handling a `Promise` to a connection.

Because of `clientPromise` expecting a promise, I'll have to go the same route as @

[2021-03-06 21:54] MuhammedBeraKoc opened #401 "How to connect the store using an established MongoDB connection in later versions?"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [x] question about how to use this project

- **Summary**
I have been initializing my session store like this (3.2.0):
[code]
However I tried this way in latest version(4.2.2) and it gave error about initializing MongoStore with new keyword. It seems like something is chang

[2021-03-07 16:20] mingchuno commented on #401
`MongoStore.create` instead of `new MongoStore`

[2021-03-08 03:25] mingchuno commented on #397
Created 4.3.0 release: https://github.com/jdesboeufs/connect-mongo/blob/master/CHANGELOG.md#430---2021-03-08

[2021-03-08 03:25] #397 closed

[2021-03-08 13:17] shaunstone0 commented on #401
the answer above does not fix the problem, now the error is on this line:

`const MongoStore = connectStore(session)`

and I get this error:
`TS2559: Type 'typeof import("C:/websites/Random Projects/vue/node_modules/@types/express-session/index.d.ts")' has no properties in common with type 'ConnectMongoOptions'.`

I know this is a typescript error, but how would I fix this? Yes I have the Types in

[2021-03-08 14:49] lblo commented on #401
In JS & ESM (no requires), I had to use another solution than the one found in the doc & migration guide.

![image](https://user-images.githubusercontent.com/47742293/110337093-d32cb580-8025-11eb-9c2b-822b8846a1d8.png)

[2021-03-08 21:31] Aryaman1706 opened #402 ""client" option in "Connection-related options" fails assertion."
- **I'm submitting a ...**
  [o] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [o] question about how to use this project

- **Summary**
- Assertion is failed on using client option for connection.

- **Other information**
- Error Message:- "Assertion failed: You must provide either mongoUrl|clientPromise in options"
- Code Snippet:-
[code]

[2021-03-09 02:07] mingchuno commented on #402
Ya. My bad. Miss that part.

[2021-03-09 02:20] mingchuno commented on #402
Fixed in `4.3.1`

[2021-03-09 04:16] mingchuno commented on #401
@lblo I tried to avoid adding `webpack` / `rollup` into the build process. To avoid the extra `default` when importing, I may remove the default export and use named export instead.

@shaunstone0 You should remove the `@types/express-session` package since it is not needed in new version.

[2021-03-09 05:28] Aryaman1706 commented on #402
Thanks a lot.

[2021-03-09 09:28] lblo commented on #401
@mingchuno Thanks, that would work for me and seem cleaner.

[2021-03-09 15:57] #402 closed

[2021-03-10 13:32] Aryaman1706 opened #403 "Adding an example for reusing mongoose connection."
- **I'm submitting a ...**
  [ ] bug report
  [o] feature request
  [ ] question about the decisions made in the repository
  [o] question about how to use this project

- **Summary**
- We can add an example to use connect-mongo with an existing mongoose connection made with mongoose.createConnection().
- This could be useful for developers working with multiple mongoose connections.

- **Other in

[2021-03-11 03:03] mingchuno opened #405 "Remove the need of .default when importing in JS"
Remove `export default` so that when importing in JS, no need to add extra `.deafult`?
But I don't want to introduce extra setup on webpack / rollup.
Maybe use named export instead?

### Current behavior

In TS:
[code]
Imporing in JS:
[code]

### Option 1

In TS:
[code]
Imporing in JS:
[code]

### Option 2
Include webpack/rollup?

In TS:
[code]
Imporing in JS:
[code]

### TODOs:
---
- [ ] Add type

[2021-03-11 05:10] #405 closed

[2021-03-12 01:16] #403 closed

[2021-03-15 13:22] Abourass opened #407 "Error: Unable to find the session to touch"
- **I'm submitting a ...**
  [x] bug report

- **Summary**
Quite often, after logging in, I'm getting this error while browsing through my app:
[code]

- **Other information**

**databaseConnect**
[code]

And then I initialize in my **app.ts**

[code]

[2021-03-15 16:22] Vaibhav121121 opened #408 "TypeError: Cannot read property 'create' of undefined"
- **I'm submitting a ...**
  [x] bug report

- **Summary**
I just tried to use this package by copy pasting code from documentation and got error.

- **Other information**
- The stacktrace for the error is
store: MongoStore.create({ mongoUrl: process.env.MONGO_URI }),
                      ^
TypeError: Cannot read property 'create' of undefined
    at Object.<anonymous> (E:\Study\Sem. 6\Major Proj

[2021-03-15 16:58] mingchuno commented on #408
Which version you are using? and you are using typescript or javascript?

[2021-03-16 05:31] Vaibhav121121 commented on #408
I am using nodeJS 14.15.5, connect-mongo version 4.4.0 and express-session version 1.17.1

[2021-03-17 18:08] dcatanzaro commented on #408
Change the

const MongoStore = require('connect-mongo').default;

to

const MongoStore = require('connect-mongo');

[2021-03-18 01:26] Calpert commented on #408
My group is having this issue on our project. When I delete .default, I no longer get the error and am able to connect to the server. A couple of others, however, get that same error when they delete .default. Anyone know why?

[2021-03-18 04:06] mingchuno commented on #408
It's interesting. Please check the version you are using. What version 4.4.0 does is remove the need for `require('connect-mongo').default` in javascript project. I have tested 4.4.0 with both JS and TS and the import / require work as expected. The related commit is in here https://github.com/jdesboeufs/connect-mongo/commit/f18dae083aec690f4f9a8f81283c99cf994b0558

[2021-03-18 05:33] Vaibhav121121 commented on #408
Removing this solved my error. But I am confused in most of the tutorial I see people using
`const MongoStore = require('connect-mongo')(session);`
which gives error now, error-
const MongoStore = require('connect-mongo')(session);
                                           ^
TypeError: Class constructor MongoStore cannot be invoked without 'new'
    at Object.<anonymous> (E:\Study\Sem. 6\Major Pr

[2021-03-18 05:34] Vaibhav121121 commented on #408
This solved my problem, thanks.

[2021-03-18 06:34] #408 closed

[2021-03-19 10:45] rafw87 opened #409 "Update MongoDB dependency and unpin it"
Hi,
Fix in MongoDB regarding circular dependency mentioned in #386 is now published in [3.6.5](https://github.com/mongodb/node-mongodb-native/releases/tag/v3.6.5), so I think there is no longer reason to pin it to 3.6.3.
I checked in our project (we're using `connect-mongo` and also mongodb client for other things) and warning is not showing anymore, but currently I have duplicated mongodb 3.6.3 a

[2021-03-21 09:45] christianzimmermann opened #410 ".all method to retrieve all sessions is not working with encrypted store"
- **I'm submitting a ...**
  [X] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

req.sessionStore.all((err, sessions)=>{
                console.log(sessions);
            })

throws an error when using an encrypted session store

- **Other information** (e.g. detailed explanation, stack traces,

[2021-03-22 15:25] mingchuno commented on #409
fixed in https://github.com/jdesboeufs/connect-mongo/commit/ddc131aeb221b1eac802afc67a7fd51beb854490

[2021-03-23 04:48] #410 closed

[2021-03-23 04:49] #409 closed

[2021-03-23 22:59] christianzimmermann commented on #410
Many thanks @mingchuno for this excellent work! Highly appreciate you quick turn around

[2021-03-24 09:45] lingyun-z opened #412 "ERROR: TypeError: Cannot read property 'create' of undefined"
- **I'm submitting a ...**
  [x] bug report

- **Summary**
connect-mongo version: 4.4.1
I import connect-mongo package in my project which is the same as the usage in README.
Here is the error message ```TypeError: Cannot read property 'create' of undefined```.
[code]
Here is the compiled js file.
[code]
Here is my ```tsconfig.json``` file.
[code]

- **Other information** (e.g. detailed explanatio

[2021-03-24 14:32] mingchuno commented on #412
What version of the lib you are using? Make sure you are using latest version

[2021-03-24 14:53] lingyun-z commented on #412
My connect-mongo version is 4.4.1.

[2021-03-24 16:08] mingchuno commented on #412
Try to add `esModuleInterop: true`? Example of compiled JS file.

<img width="659" alt="Screenshot 2021-03-25 at 12 07 38 AM" src="https://user-images.githubusercontent.com/5472190/112343461-1eb9b180-8cfe-11eb-96a1-3cf797784242.png">

[2021-03-24 16:53] lingyun-z commented on #412
Thanks for your help. It works, but affect lots of other packages' import way.

[2021-03-25 01:24] #412 closed

[2021-03-26 17:58] lmeerma opened #413 "autoRemove native causing error on close"
When having the `autoRemove` function set to `native`, connect-mongo starts creating an index.

`collection.createIndex({ expires: 1 }, { expireAfterSeconds: 0, ...this.options.writeOperationOptions });`

Since this method is asynchroneous and it is not waited for its completion, the following error is thrown when the `close()` method is called immediately afterwards because the index creation is

[2021-03-27 09:07] mingchuno commented on #413
@lmeerma For your use case, maybe you can disable the index creation and manage it by yourself?

[2021-03-27 09:41] lmeerma commented on #413
That would be possible. But I think this either needs a fix or a warning in the README. This problem is not trivial and took me some time to understand where this bug is coming from. Calling to valid methods of an SDK shouldn't result in an error. So I think this needs at least a warning.

What do you think?

[2021-03-27 09:53] mingchuno commented on #413
I think adding a warning is good 👍🏻

[2021-03-30 19:41] braitsch commented on #407
I'm getting this error as well when attempting to exec a db backup or restore. It looks like res.send is triggering the touch method as also mentioned [here](https://www.gitmemory.com/issue/jdesboeufs/connect-mongo/390/784330303) which throws an error if req.session hasn't been modified.

[code]

[2021-03-30 19:42] braitsch commented on #407
app.get('/admin/restore', function(req, res)
{
	var dir = path.join(__dirname, 'database');
	exec('mongorestore --drop '+dir, function(e, stdout, stderr) {
		log('* restoring database:', app.get('db_name'));
		if (e) {
			log(stderr);
			res.status(500).send(e);
		}	else{
			console.log('database successfully restored');
		// modifying req.session w/ a random value avoids throwing an error but thi

[2021-03-30 19:47] braitsch commented on #407
I'm getting this error as well when attempting to backup or restore a db. It seems like `res.send` is triggering the touch method as described [here](https://www.gitmemory.com/issue/jdesboeufs/connect-mongo/390/784330303) which throws an error if `req.session` hasn't been modified.

[code]

[2021-04-02 18:07] jerevick83 commented on #101
I advice you upgrade your package.json dependencies

in your terminal, cd to your project root directory and enter the following:

`npm install -g npm-check-updates`

`ncu -u`

`npm updates`

`npm install`

[2021-04-10 16:01] ErnestBrandi opened #415 "Must use express-session ?"
- **I'm submitting a** question about how to use this project.

- **Summary**
Hi, is it mandatory to use `express-session` in the new version (v4) ?
I get the following error at build time : `Error: Cannot find module 'express-session'`.
With the v3 I was using `next-session` as session manager and it worked fine.

[2021-04-13 11:20] mingchuno commented on #407
Link: #390

[2021-04-13 11:24] mingchuno commented on #407
Wait, did you guys update to the latest version? It fixed the issue.
@braitsch @Abourass

[2021-04-13 11:29] mingchuno commented on #413
added in https://github.com/jdesboeufs/connect-mongo/commit/94b65f67d0190d17586a90068da45c0c81edc90a

[2021-04-13 11:29] #413 closed

[2021-04-13 11:46] mingchuno commented on #415
@ErnestBrandi Can you provide more code snippet on how you use `next-session`? Let see if we can migrate it to use V4. On the other hand, depends on your use case. I think there is chance that you can use may use `connect-mongo` directly w/o `next-session`? 🤔  Current V4 does not depend on the session impl as long as it matches the interface. So in theory you should be able to use another session

[2021-04-13 11:49] schamberg97 commented on #415
Probably @ErnestBrandi doesn’t have express-session and thus he gets an error from [this](https://github.com/jdesboeufs/connect-mongo/blob/94b65f67d0190d17586a90068da45c0c81edc90a/src/lib/MongoStore.ts#L3)

[2021-04-13 11:50] ErnestBrandi commented on #415
Hi, thanks for replying.
The `next-session` author says that the package won't receive future PR and recommend using `express-session` anyway (which I ended up doing).

[2021-04-13 15:37] mingchuno commented on #415
So is your problem solve? I have take a look at `next-session`. What you need show be able to accomplish by `express-session` + `connect-mongo`. More code but you have more control over what you are doing.

[2021-04-13 15:41] ErnestBrandi commented on #415
Yes it is solved, but not using `next-session`. Still, what about the import mentioned by @schamberg97 ? Doesn't it mean one must use `express-session` with `connect-mongo` or not ?

[2021-04-13 15:49] mingchuno commented on #415
@ErnestBrandi Not really. Take a look at my `package.json`, `express-session` is just a dev dependency. Any "session" with same interface with `express-session` should work too. Take a look on my example:

[code]

I don't need `express-session` to create `MongoStore`. After all, `MongoStore` just expose [these functions](https://github.com/expressjs/session#session-store-implementation)

[2021-04-13 15:51] ErnestBrandi commented on #415
Ok, thanks for clarifications :) I will close this issue.

[2021-04-13 15:51] #415 closed

[2021-04-20 23:32] jmcombs opened #416 "^4.4.1 with Mongoose: UnhandledPromiseRejectionWarning: TypeError: con.db is not a function"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [x] question about how to use this project

- **Summary**
I am attempting to migrate from `connect-mongo 3.2` to the latest `4.4.1` and utilize the existing Mongoose connection into MongoDB. I have attempted two separate configurations with the same results (assume variable

[2021-04-21 02:31] mingchuno commented on #416
@jmcombs Did you try to take a look at this example yet?
https://github.com/jdesboeufs/connect-mongo/blob/master/example/mongoose.js

[2021-04-21 10:43] jmcombs commented on #416
@mingchuno, I did and I am not trying to use the Promise method. I am trying to use the async/await method which should work with the `client` option introduced in 4.3, should it not?

[2021-04-24 18:18] jmcombs commented on #416
I separated out Mongoose from Express. This works well for me. Posting here as an example for anyone else to reuse.

**dbService.js**
[code]

**app.js**
[code]

[2021-04-24 18:18] #416 closed

[2021-04-29 09:23] jmcollin78 opened #418 "How to replace the sessionStore.db after migration to V4.x"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [X] question about the decisions made in the repository
  [X] question about how to use this project

- **Summary**
With connect-mongo v2.0.3 I was able to retrieve the MongoDB database directly from sessionStore with piece of code like:

[code]

With 4.x the sessionStore.db have been deleted and cannot figure out how to replace i

[2021-04-29 10:45] mingchuno commented on #418
`mongoose.connection.getClient().db` ?

[2021-04-29 16:12] Koslun commented on #391
@mingchuno
Still getting this error in version 4.4.1. So don't think this fixed it.

Some other dependencies in-use:
[code]

Excerpt of usage in code:
[code]

Error log:
[code]

[2021-04-29 18:55] jmcollin78 commented on #418
It works like this indeed.
I found nice to use to MongoDB db given by MongoStore instead of importing and using mongoose one's, but I guess it's not so important.

Thanks for your quick answser

[2021-04-30 06:51] mingchuno commented on #391
@Koslun Try to upgrade the `@types/express-session` to `1.17.3`?

[2021-04-30 06:53] #407 closed

[2021-05-06 12:07] ronenteva opened #419 "dbName is not loaded when set in mongoose connection options"
When using mongoose connection:

If dbName is set inside the URI, everything works as expected:
[code]

But if dbName is set in the options, it won't pass to the session store:
[code]

[2021-05-06 22:52] pauldwaite opened #420 "Existing encrypted v3.2.0 sessions are not decrypted correctly by v4.4.1 (Cannot read property 'expires' of undefined)"
### I'm submitting a ...
  [X] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

### Summary

Existing encrypted session objects from connect-mongo v3.2.0 remain over-stringified when decrypted by v4.4.1, as described in #393.

### Other information

#### Steps to reproduce:

(Minimal docker-compose project to r

[2021-05-07 01:44] mingchuno commented on #419
@ronenteva Yes, it is the current behaviour

[2021-05-07 01:53] mingchuno commented on #420
@pauldwaite I think we have few options here

1. Stick with 3.2.0 here since V4 is really a breaking change upgrade in a lot of aspects.
2. Behaviour in 3.2.0 is not expected as stated in #393 so I think I will not workaround V4 to make it compatible for both correct and wrong implementation.
3. Can we find a way to make some script to strip away the over stringify part in the DB so that it will w

[2021-05-07 03:03] jas- commented on #420
@pauldwaite if you normalize the encrypted sessions from 3x then using the `{ use_asn1: false }` can be enabled to migrate.

This however can be further mitigated if you convert the session manually to ASN.1 using the private function available from the kruptein module... `kruptein.schema.encode(session).toString(‘kruptein._encodeas)` then that should be all the conversion you need to keep session

[2021-05-07 13:24] pauldwaite commented on #420
Cool cool — so, as I understand it, the issue is caused by 3.2.0's session encryption, which only causes a problem after updating to 4.x, if there are existing sessions encrypted by 3.2.0.

On the app I'm working on, I think our other security measures are robust enough, and our user base small enough, that we could disable session encryption for 3.2.0, wait for all encrypted sessions to expire, u

[2021-05-08 00:27] jas- commented on #420
Breaking changes should always be expected when migrating from one semver major iteration to the next

[2021-05-08 12:55] jas- commented on #420
You could always convert them all... (pseudo code) prior to a go live event.

[code]

[2021-05-10 14:30] #420 closed

[2021-05-10 14:30] #419 closed

[2021-05-17 21:30] Enado95 commented on #389
Get the following error:

[code]

[2021-06-02 17:49] thernstig commented on #351
unstale

[2021-06-09 16:24] hillct opened #422 "collection.deleteMany() being called in a deprecated way, yielding a mongoDB Driver warning"
- **I'm submitting a ...**
  [X ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
- When used with a modern MongoDB driver (version 3.6.8 in this case but newer as well) we see this deprecation warning:
-  [MONGODB DRIVER] Warning: Top-level use of w, wtimeout, j, and fsync is deprecated. Use wri

[2021-06-09 22:14] #385 closed

[2021-06-09 22:14] #382 closed

[2021-06-09 22:14] #380 closed

[2021-06-10 02:27] mingchuno commented on #422
Thanks for your information. Related issue in here: https://github.com/strongloop/loopback-connector-mongodb/issues/616
I will take a look to see if any change is required since it is a deprecation warning only. Don't want to upgrade and break the others

[2021-06-10 02:41] mingchuno commented on #422
Somehow we need to wait for this PR:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/53636

Ref link for future me: http://mongodb.github.io/node-mongodb-native/3.6/api/Collection.html#deleteMany

[2021-06-13 05:06] borfig commented on #422
@mingchuno no more waiting - PR has been merged.

[2021-06-14 10:58] yousuf4you opened #423 "Error with ES6"
When I tried to use ES6 it throws this error.
My input:
![type1](https://user-images.githubusercontent.com/60110696/121881774-80a01b00-cd31-11eb-923e-f8160aa20724.png)
![type](https://user-images.githubusercontent.com/60110696/121881789-85fd6580-cd31-11eb-9794-6d09cbdeb2df.png)

My Errors:
![error](https://user-images.githubusercontent.com/60110696/121881805-8d247380-cd31-11eb-9aea-f54eaf8b3aa5.pn

[2021-06-14 17:14] mingchuno commented on #423
@yousuf4you What version you are using? https://github.com/jdesboeufs/connect-mongo/blob/master/MIGRATION_V4.md
Use `mongoUrl` instead of `url`

[2021-06-15 03:39] yousuf4you commented on #423
I am using the version...
![errors2](https://user-images.githubusercontent.com/60110696/121989203-82afbb80-cdbd-11eb-934c-564a65287159.png)

[2021-06-15 04:21] mingchuno commented on #423
Use `mongoUrl` instead of `url`

[2021-07-02 08:59] Koslun commented on #391
@mingchuno

It did work now, might've been `@types/express-session` to` 1.17.3` like you said but related changes I also made:

[code]
The last resolution is for another issue: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/49595#issuecomment-871608570

[2021-07-07 05:32] #423 closed

[2021-07-09 07:23] Hawmex opened #425 "[Question] How does `autoRemove: 'native'` work?"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [x] question about how to use this project

- **Summary**
How does `autoRemove: 'native'` work? I'm using Passport and I'm wondering how much time after a user logs out, their session is deleted from my mongoDB? Does it even work this way?
- **Other information**
none

[2021-07-09 09:44] mingchuno commented on #425
@Hawmex As you can see from the source code. It use the MongoDB native TTL index to expire items base on `expires` field. And the field itself is base on the `ttl` set in the option.
https://github.com/jdesboeufs/connect-mongo/blob/master/src/lib/MongoStore.ts#L226

[2021-07-10 10:10] Hawmex commented on #425
@mingchuno Ah, you mean the session is automatically deleted by MongoDB when the date specified in its `expires` field has come?

[2021-07-10 10:21] schamberg97 commented on #425
Yes. Here’s the explanation: https://docs.mongodb.com/manual/core/index-ttl/

Take note that there may be a small delay before MongoDB manages to delete outdated session, depending on database load

[2021-07-10 18:47] Hawmex commented on #425
Thanks @schamberg97. It got cleared up to me.

[2021-07-10 18:47] #425 closed

[2021-07-16 05:42] brettz9 opened #426 "mongodb update"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

With mongodb 4.0 being released, I'm wondering if you might be looking to update it. (I personally just don't want to have to use two copies, one with direct use of `mongodb` and one with `connect-mongo`.)

Thanks!

[2021-07-16 07:12] mingchuno commented on #426
Need to take a look if any breaking change that will affect the existing user and also there is a reason to pin the driver version. Need to see if the issue resolve. https://github.com/jdesboeufs/connect-mongo/commit/37e8d3200e1ac37ad35b0ea2c39e51abb67974b4#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519

[2021-07-17 03:42] guyellis commented on #426
[Here's the Changelog for MongoDB Driver 4.0.0](https://github.com/mongodb/node-mongodb-native/blob/4.0/docs/CHANGES_4.0.0.md)

[2021-07-17 21:53] guyellis commented on #426
Also remember to remove [@types/mongodb](https://github.com/jdesboeufs/connect-mongo/blob/cceec185f2dd374e345e2f9417a185119828c4b5/package.json#L71) when experimenting with this because the mongodb 4.x dependency has built in types, which are different to the types in DefinitelyTyped.

[2021-07-27 02:38] guyellis opened #427 "MIGRATION_V4"
During the migration to v4 I discovered that in the `session` collection that the `session` property was a string of JSON data in v3 but in v4 it is a JS object.

I had to blow away the `session` collection as part of my migration.

Not sure if that was something that I did wrong during the migration? If not, then perhaps that or notes to that effect should be added to the MIGRATION_V4.md doc?

[2021-07-27 09:21] mingchuno commented on #427
Take a look on the `serialize`, `unserialize` and `serialize` options?

[2021-07-27 13:54] guyellis commented on #427
I did't changed those options during the upgrade from v3 to v4. Did the default change for them?

[2021-07-29 02:07] mingchuno commented on #427
@guyellis The default for option `stringify` should be `true` even in V4. Did you set it to false?
https://github.com/jdesboeufs/connect-mongo/blob/cceec185f2dd374e345e2f9417a185119828c4b5/src/lib/MongoStore.ts#L145

[2021-07-29 14:45] guyellis commented on #427
@mingchuno yes - that's exactly what I did - and I don't know why I did that. My apologies for taking up your time with this and thank you for clarifying and solving this.

[2021-07-29 14:45] #427 closed

[2021-08-03 02:39] YC commented on #351
unstale

[2021-08-03 03:25] #391 closed

[2021-08-03 03:56] mingchuno commented on #351
@YC What still need to be follow up on this issue?

[2021-08-03 08:21] YC commented on #351
#### Current Behavior
| resave      | rolling | expires | session.expires |
| ----------- | ----------- | ---- | --- |
| false      | false      | y | n |
| false   | true          | y | n |
| true   | false          | y | y |
| true   | true           | y | y |

#### Expected Behavior (my opinion)

I performed a quick search on `expires`.
It seems like to me that it (the top level `expires`) is u

[2021-08-07 06:04] YC commented on #351
Here are the logs from the different cases.
[code]
[code]
[code]
[code]
`rolling` seems to trigger `set-cookie`, which follows from https://github.com/expressjs/session/blob/master/index.js#L472
`resave: true` causes `set` to be called, instead of `touch`.
However, I don't see a way to keep the db in sync. Any ideas?

[2021-08-15 16:13] hillct opened #428 "Package file install and unit test issues"
- **I'm submitting a ...**
  [ X ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Circular dependencies in package.json make this module un-installable from the git repository. The most current npm of version 4.4.1 was built before this issue arose, so is no impacted.
A fix for the circular depe

[2021-08-15 16:17] hillct commented on #422
hanks for getting hid fix in place. Because there isn't a new NPM package featuring this fix, I attempted to use it via the Git repo, but was stymied by a few issues including circular dependencies and unit test errors. I was able to address he dependencies and one type error as reported by eslint (part of he test stack) but was stymied by the unit est failures. Please refer to https://github.com/

[2021-08-16 20:29] mozgbrasil opened #429 "error TS2724: '"mongodb"' has no exported member named 'CommonOptions'. Did you mean 'CommandOptions'"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

Good morning my friends

I opened the following question that mentions something related to your library if I could help in advance thank you

https://github.com/microsoft/TypeScript-Node-Starter/issues/340

- **Oth

[2021-08-17 07:06] mingchuno commented on #428
@hillct Could you provide more details on the circular dependencies issue and why the fix work?

[2021-08-17 07:08] mingchuno commented on #429
Yes, the microsoft repo didn't update the dependency and `connect-mongo` have quite a number of breaking change from v3 to v4. If you need to use, you have to migrate the code on your own.

[2021-08-17 07:08] #429 closed

[2021-08-17 08:21] mingchuno commented on #422
@hillct @borfig Please help take a look on the PR
https://github.com/jdesboeufs/connect-mongo/pull/430

[2021-08-17 08:22] mingchuno commented on #426
@guyellis @brettz9 Please help take a look on the PR
https://github.com/jdesboeufs/connect-mongo/pull/430

[2021-08-17 15:00] guyellis commented on #426
Apologies for only getting to this now. Thanks for doing this @mingchuno

[2021-08-18 01:25] mingchuno commented on #426
v4.5.0 has been release, please try out @guyellis

[2021-08-18 01:25] #426 closed

[2021-08-18 01:25] mingchuno commented on #428
v4.5.0 has been release, please try out

[2021-08-18 01:25] #428 closed

[2021-08-18 01:26] mingchuno commented on #422
v4.5.0 has been release, please try out @hillct

[2021-08-18 01:26] #422 closed

[2021-08-20 08:13] lkj4 opened #431 "Allow to access the request object for e.g., setting the dbName dynamically and based on the request"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

I want to access the request object in order to set dynamically and based on the request the to be used `dbName`. I could wrap `session(...)` into `req => ...` and then access `req` but then I can't call express' `n

[2021-08-20 08:53] lkj4 commented on #431
Ok, I've learned that I can't add middleware dynamically[[1]](https://github.com/expressjs/express/issues/3128#issuecomment-261064795), or this is what I've been actually trying. The question now is if your lib could offer the option to set `dbName` also with a function which then, can give access to the request option, such as:

[code]

[2021-08-20 14:02] guyellis commented on #426
It works well. Thanks for doing this @mingchuno - much apprecaited!

[2021-08-22 21:48] GoodnessEzeokafor opened #432 "Npm run build fails"
- **I'm submitting a ...**
  [ ] bug report

- **Summary**
[code]
- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to have context, eg. StackOverflow, personal fork, etc.)

[2021-08-23 08:47] riflowth opened #433 "ConnectMongoOption field `client` doesn't work with mongoose in TypeScript"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
I have tried to get client connection from opening connection by call `mongoose.connection.getClient()` to use on `client` field of `ConnectMongoOptions` but my vscode give me an error.

[code]

- **Other information

[2021-08-25 07:29] pararell commented on #433
There is a problem with type Promise<MongoClient> for the clientPromise, it is in the same code as example in typescript:
https://github.com/jdesboeufs/connect-mongo/blob/master/example/mongoose.js
 It would be useful to add all examples to typescript, that should prevent these issues.
Now here I have to use any to prevent the issue:
[code]

[2021-08-25 08:32] huineng commented on #433
i got the above working since a long time without any issue. But today mongoose release v 6.0.0 and now i have an incompatibility issue

[code]

[code]

and i'm not sure if these needs to be solved by mongoose or by connect-mongo

i'm ignoring it for now as i did not see any differences and all still works
[code]

[2021-08-25 12:46] huineng commented on #433
Is it possible to update mongodb to 4.1.1. there are differences between the 2 packages https://github.com/mongodb/node-mongodb-native/releases/tag/v4.1.1. thanks

[2021-08-25 21:28] guyellis opened #434 "The types of 'options.autoEncrypter' are incompatible"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

When upgrading the mongodb dependency from `4.1.0` to `4.1.1` this is the TypeScript error:

[code]

I think that the fix is as simple as upgrading the dependency in package.json: https://github.com/jdesboeufs/conne

[2021-08-28 01:00] bradenmitchell opened #436 "MongoStore.create({}) options 'client' and 'clientPromise' not compatible with Mongoose version 6"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Mongoose has been updated to version 6. When using `client` or `clientPromise` in `MongoStore.create({  })`, sessions are no longer saved to database.

- **Other information** (e.g. detailed explanation, stack traces

[2021-09-03 20:27] ctaschereau opened #437 ""Callback was already called" bug"
At this line in the set function, we can see that the callback is in fact inside the _try_ statement. This has the side effect that if some code throws immediately after calling the set function, we will fall inside the catch statement of the set function and then have an "Callback was already called" error.

https://github.com/jdesboeufs/connect-mongo/blob/3e273764c2b88da072a1eb2394ae70b5af158623

[2021-09-06 20:17] dman777 opened #438 "The "url" argument must be of type string. Received undefined"
**Useless typescript creates more issues**

[code]

[code]

Node ver 16.*

[2021-09-06 21:56] #438 closed

[2021-09-09 12:40] rfox12 commented on #436
Can you provide any information that this is a bug in `connect-mongo` and not `mongoose`?  I don't use `mongoose` (I really don't see the advantages over the core `mongodb` driver); and I (among many others) have been using `connect-mongo` reliably in production.

[2021-09-09 12:41] rfox12 commented on #436
This will probably be solved with my PR that I'm trying to finish out

[2021-09-10 00:14] rfox12 commented on #432
Do you have `express-session` installed?

[2021-09-16 19:59] SavarJ commented on #436
Hi. Any update? Everyone I know uses mongoose for MongoDB and when I do
`store: MongoStore.create({
      client: mongoose.connection,
      dbName: "sessions",
    }`
it gives me an error of `TypeError: con.db is not a function`

[2021-09-17 04:42] mingchuno commented on #432
@GoodnessEzeokafor Can you provide more details on what you are doing?

[2021-09-17 04:44] mingchuno commented on #431
Why do you need to use different db depends on `req`? What is your use case? Can it be a field inside the session instead? I don't think dynamic `dbName` base on `req` is a good idea.

[2021-09-17 04:49] mingchuno commented on #434
link to #433
I think I would tried the `peerDependency` approach first to see if it work. @rfox12 @guyellis Any idea on the drawback on moving `mongodb` to `peerDependency`? Will it break current user?

[2021-09-17 04:50] mingchuno commented on #433
Hi guys. Sorry for the late reply. Does moving `mongodb` to `peerDependency` help solve the issue?
Link to #434

[2021-09-17 05:11] #437 closed

[2021-09-17 05:11] #433 closed

[2021-09-17 05:11] #434 closed

[2021-09-17 05:11] #436 closed

[2021-09-17 05:18] mingchuno commented on #437
4.6.0 released

[2021-09-17 05:18] mingchuno commented on #436
4.6.0 released

[2021-09-17 05:18] mingchuno commented on #434
4.6.0 released

[2021-09-17 05:18] mingchuno commented on #433
4.6.0 released

[2021-09-17 10:54] rfox12 commented on #434
I don't think we're going to break anyone's usage.  I upgraded just now and my update moved me to `mongodb@4.1.2` and `connect-mongo@4.6.0` with no issues!  Thanks

[2021-09-17 11:30] guyellis commented on #434
I think it works the way that you've done it with `^` optimistic.

[2021-09-17 11:55] huineng commented on #434
it works, i just had to delete node_modules and package-lock.json and reinstall. thanks

[2021-09-17 15:37] guyellis commented on #434
@huineng did you run into: `TextEncoder is not defined` that caused you to do that?

[2021-09-17 16:46] huineng commented on #434
no sorry, i got "cannot find mongo"

[2021-09-18 18:10] rfox12 commented on #434
@huineng You'll simply want to ensure `mongodb` is in your package.json dependencies.

[2021-09-19 08:22] hoangvvo opened #441 "Possibility to use without express-session"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [x] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

In the previous version, `connect-mongo` is used in a way that we provide the `session` object like below:

[code]

This way it is possible for me to provide a "stub" session object to workaround as seen [here](http

[2021-09-19 16:18] hoangvvo commented on #441
Just a note that the below are the session libraries (basically those that support express-session store) that I know might be affected.
- https://github.com/fastify/session

[2021-09-21 08:46] moritzlaube opened #442 "Fixed issue with the new Mongoose 6 API not returning a MongoClient-Promise anymore"
I am submitting a solved issue to help out others who have a similar issue.

In my Node app I am using `Mongoose 6` with `express-session` and `connect-mongo`.

I just upgraded to `Mongoose 6` and I've had some issues passing the `MongoClient`(I want to use an existing connection to the database) to the `clientPromise` option of the `MongoStore.create()` function.

With the new Mongoose API `conne

[2021-09-30 19:40] Mahir92 opened #444 "Unused packages detected in the connectmongo project on Tag: v4.4.1"
**Issue**: We have detected the following unused dependencies in your project:
Unused devDependencies
* @ava/typescript
* @commitlint/cli
* @commitlint/config-conventional
* codecov
* cspell
* eslint
* eslint-config-prettier-standard
* eslint-plugin-import
* eslint-plugin-node
* eslint-plugin-promise
* eslint-plugin-standard
* gh-pages
* npm-run-all
* nyc
* open-cli
* prettier
* standard-version
*

[2021-10-01 01:04] mingchuno commented on #444
@Mahir92 They are **NOT** unused dependencies. Your methodology have flaw. May be you can try to scan for dependencies instead, otherwise you will cause trouble for others since there must be false positive.

[2021-10-01 01:11] #444 closed

[2021-10-04 23:08] JonasHavers commented on #442
Thanks for sharing, @moritzlaube !

You can also use the `client` option in `ConnectMongoOptions`:
[code]

If you want to use the `clientPromise` option for whatever reason (e.g. promises chaining), there is also a new `asPromise()` function in Mongoose's `Connection` ([docs](https://mongoosejs.com/docs/api/connection.html#connection_Connection-asPromise)) that returns "a promise that resolves whe

[2021-10-21 12:54] mq1n commented on #436
It's still happening for me on 4.6.0

`TypeError: con.db is not a function
    at ...\node_modules\connect-mongo\build\main\lib\MongoStore.js:126:18
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
`

[2021-11-01 22:43] Xapu1337 opened #446 "NestJS - Doesn't compile."
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Using MongoStore within nestjs crashes the application with the following error:
[code]

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to have

[2021-11-02 01:57] mingchuno commented on #446
Cannot see how the stack-trace related to `mongo-connect`. Check this line first?

[code]

[2021-11-02 08:35] Xapu1337 commented on #446
ohh sorry i forgot to mention that the .ts stack trace leads to:
https://github.com/Phentix/phentix-dashboard/blob/29f3d0364d8177cf290c4d7023d534ba18c7db98/src/server/main.ts#L18
(Note: It's commented out removing the comment causes the error again)

[2021-11-03 18:47] mcdaddytalk commented on #446
having similar issue:

`import MongoStore from 'connect-mongo';
...
app.use(
    session({
      name: 'NESTJS_SESSION_ID',
      secret: await config.getSessionSecret(),
      resave: false,
      saveUninitialized: false,
      cookie: {
        maxAge: 60000,
      },
      store: MongoStore.create(await config.getMongoOptions()),
    }),
...`

`store: MongoStore.create(await config.getMongoOpt

[2021-11-05 13:45] mcdaddytalk commented on #446
Update:  I had to use the 'esModuleInterop' flag set true to allow the code above to work.
I'd prefer to not have it set as it is recommended to be false.  This might be in the way MongoStore is exported.

[2021-11-11 18:42] BE-CH commented on #446
I have this issue as well.

**Error:**
[code]

**Code:**
[code]

**Temporary Fix:**
It can be fixed by setting the ``esModuleInterop`` to true in the ``tsconfig.json`` but this is not an optimal solution. (Thanks to @mcdaddytalk )

[2021-11-27 20:17] oneguyhacking opened #447 "How to delete all of a user's sessions?"
- **I'm submitting a ...**
  [ ] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ X] question about how to use this project

- **Summary**
When I delete a user from my system, I'd like to delete all their sessions as well.  I have seen your answer to this question from 2016 (#201), which is to refer to req.sessionStore.db to issue a remove command, but

[2021-12-04 18:41] 6lph9 commented on #446
Having the same issue here.
I have fixed the error by importing it like this:

`const MongoStore = require("connect-mongo");`

I have no clue if this helps anyone but here you go.

[2021-12-25 06:54] hnviradiya opened #448 "Auto connect mongodb documentation"
- I'm submitting a question about how to use this project

- I am connecting to mongodb during main startup of the project. But as initially mongodb is not available it throws below error. How do I make it retry in case of mongodb is not available. I tried posting on stackoverflow and also tried checking for developers at work portals but seems none of them are able to fix this.
- I am unable to f

[2021-12-25 06:59] hnviradiya commented on #448
Moreover I am also unable to find documentation on how to handle exception. If I could handle the exception then I also I would have tried to create mongo db session again from catch block.

[2022-01-07 16:38] D-32 opened #449 ""Unable to find the session to touch" error message"
- **I'm submitting a ...**
  [X] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
When I set something in the user's session I get the following error in the console:

[code]

Everything still gets stored correctly though.

MongoStore.ts:326:
[code]

Any ideas why this might be happening?

- **Oth

[2022-01-08 02:25] bradenmitchell commented on #447
Any progress on this?

[2022-01-08 02:51] ghost opened #450 "Fastify destroy error"
- **I'm submitting a bug report**

Hello i'm trying to use this module with Fastify everything works as it should but not the destroy.
I'm using fastify-session with connect-mongo

Here is that logout looks like:

[code]

here is the error i'm getting:

[code]

Not sure what to do

It would be nice if it worked :)

[2022-01-08 03:52] bradenmitchell opened #451 "Typescript: Property 'sessionStore' does not exist on type 'Request<...>'"
- **I'm submitting a ...**
  [X] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
    I am not sure if this issue is related to `connect-mongo` itself or `express-session` more broadly.
    When using Typescript and trying to access the session store on the request object, VS Code displays the err

[2022-02-03 07:53] kaminion commented on #446
I having same issue,

my app not working because I used **import MongoStore from 'connect-mongo',**
error message is below

**TypeError: Cannot read properties of undefined (reading 'create')**

[2022-02-21 06:29] Spown opened #452 ""Cannot find module 'mongodb'" in Docker"
- **I'm submitting a bug report**

- **Summary**
  When this module is used anywhere in the project (not only as a direct dependency, but a level deeper) and it is built as docker image, the bild lacks mongodb dep module and the resulting container fails:

[code]

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to have context,

[2022-02-23 07:13] Spown commented on #452
nvm

[2022-02-23 07:13] #452 closed

[2022-02-25 14:55] gkostov commented on #436
This example demonstrates how it's done with Mongoose 6 https://github.com/jdesboeufs/connect-mongo/blob/master/example/mongoose.js . Though I prefer a bit simpler approach (one that's also closer to what was there with previous versions):

[code]

[2022-02-25 22:27] LouisVA commented on #351
unstale.....

[2022-02-26 03:40] mingchuno commented on #446
Hi all. Sorry for the late reply. Could you guys please provide your `connect-mongo` & `typescript` version? We may have to live with `esModuleInterop: true` since the underlying `express` still need it. I have tried to change the tsconfig in example. It failed too. https://github.com/jdesboeufs/connect-mongo/blob/master/example/tsconfig.json#L53

[2022-02-26 03:42] mingchuno commented on #447
It is more an `express-session` question. https://www.npmjs.com/package/express-session
Can you try `req.session.destroy()` ?

[2022-02-26 03:46] mingchuno commented on #448
Connecting to mongodb and connection state handling it outside the scope of the liv (or even `express-session`). Mongoose seems to have functionality to help you manage the connection retry and heartbeat interval. You can take a look into that. https://mongoosejs.com/docs/api/mongoose.html#mongoose_Mongoose-connect

[2022-02-26 03:46] mingchuno commented on #449
Might relate to #351

[2022-02-26 03:48] mingchuno commented on #450
Where does `request.destroySession` comes from ? Could you provide me more information or a minimum reproducible repo?

[2022-02-26 03:51] mingchuno commented on #451
May I ask where should the `sessionStore` comes from / provide? Can't see it in `connect-mongo`, so it should be coming from `express-session`?

[2022-02-26 13:07] kaminion commented on #446
@mingchuno
Hi !
my project using the nest.js, version is below description,

connect-mongo : ^4.6.0,
typescript: 4.3.5

I'm solved the problem by @6lph9 solution

[2022-02-26 14:55] winstonthart opened #453 "Nodejs project throws 503 error when just including "const MongoStore = require('connect-mongo');""
- **I'm submitting a ...**
  [] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [X ] question about how to use this project

- **Summary**

- **Other information** (e.g. detailed explanation, stack traces, related issues, suggestions how to fix, links for us to have context, eg. StackOverflow, personal fork, etc.)
- Using Nodejs, Express, Mongoose, Mong

[2022-02-27 10:20] mingchuno commented on #447
Then I think it is outside the scope of `express-session`. You should manually find and delete the session using mongodb driver directly.

[2022-04-03 07:15] MaxMansfield commented on #433
@mingchuno I'm still seeing this issue with MongoDB set as a peerDep. I removed and reinstalled npm packages too.

    "mongoose": "^6.2.3"

     "mongodb": "^4.4.1"

Any thoughts?

[2022-04-11 00:16] Abd-Ur-Rehman opened #454 "TypeError: Cannot read properties of undefined (reading 'db')"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
I have followed [this](https://github.com/jdesboeufs/connect-mongo/blob/master/example/mongoose.js)  example code from the repo however it doesn't work and end up with this error message.

[code]

I'm using the follo

[2022-04-11 11:19] Abd-Ur-Rehman commented on #454
I have figured it out, I wasn't returning the database and that was the issue.

[2022-04-11 11:19] #454 closed

[2022-04-15 10:59] kumardeepakxyz commented on #454
could you share the working code where you used clientPromise from mongoose.

[2022-04-15 13:19] Abd-Ur-Rehman commented on #454
@kumardeepakxyz It's the same code that you can see above. The only thing that you've to change is the then with a return.

[code]

[2022-04-16 04:43] #432 closed

[2022-04-16 04:43] #431 closed

[2022-04-16 04:43] #441 closed

[2022-04-16 04:43] #442 closed

[2022-04-28 01:57] YC commented on #351
Since it's not perhaps very clear how this mechanism works, it might be beneficial to write some integration tests against `express-session`.

[2022-04-28 19:06] #447 closed

[2022-05-07 19:11] asierbayon opened #455 "error TS7016: Could not find a declaration file for module 'mongodb'"
- **I'm submitting a ...**
  [x] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**
Express Typescript app crashes on build with the following error
`
node_modules/connect-mongo/build/main/lib/MongoStore.d.ts:2:83 - error TS7016: Could not find a declaration file for module 'mongodb'. '/mnt/c/Users/

[2022-05-17 05:15] JL102 opened #456 "Update MongoDB driver dependency (TS declarations for ~4.1.0 are full of errors)"
- **I'm submitting a ...**
-  [x] Maintenance request

- **Summary**
The TypeScript declarations for the 4.1.x MongoDB driver are full of errors, so it is currently impossible to build a TS project which has connect-mongo as a dependency.
I made a fork for my own purposes and changed `"peerDependencies": { "mongodb": "~4.1.0" }` to `"peerDependencies": { "mongodb": ">=4.1.0" }`, and it appears to

[2022-05-19 09:59] rak-dev opened #457 "Provide Support for Cloud Firestore"
- **I'm submitting a ...**
  [ ] bug report
  [1 ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

- **Other information**
Kindly please provide support for google cloud firestore and datasotre

[2022-06-07 09:40] snakamura opened #459 "native autoRemove mode deletes sessions too early"
- **I'm submitting a ...**
  [*] bug report
  [ ] feature request
  [ ] question about the decisions made in the repository
  [ ] question about how to use this project

- **Summary**

I found I sometimes saw `Unable to find the session to touch` error while using connect-mongo 4.6.0. After some investigations, I found that the session was deleted after it was gotten, but before being touched.

1.

[2022-06-08 06:18] LastApril commented on #446
I have the same issue
[code]
Use `esModuleInterop: truie` and change your import like above it'll fix the issue.

[2022-06-12 22:16] #448 closed

[2022-06-12 22:16] #449 closed

[2022-06-12 22:16] #450 closed

[2022-06-12 22:16] #451 closed

[2022-06-12 22:16] #453 closed

[2022-06-12 22:19] D-32 commented on #449
I'm still having this issue dear stale bot

[2022-06-13 05:56] YC opened #460 "Session consistency"
- **I'm submitting a ...**
  - [x] bug report

- **Summary**

When connecting to a remote cluster on MongoDB Atlas, `req.session` appears to be occasionally inconsistent (in previous state), but becomes correct after re-visiting route (manual refresh of page).
I was also able to reproduce this with a port-forwarded non-clustered db hosted remotely (ping around 103ms).

This behavior doesn't seem t

[2022-06-13 06:03] #460 closed

[2022-06-13 06:17] YC commented on #460
I realised that the above code is missing `req.session.save`, and therefore it's likely an issue for the package which consumes `express-session`.

[code]

[2022-08-07 14:53] Mohamed-kamel91 commented on #145
@efkan so the only way to connect express session to mongo store is through a mongoose connection ?
i can't seem to find anyone talking about or give a proper answer on how to connect express session to a native mongodb store, reuse an exisiting native mongodb client is a big headache as it always return this error:
**Assertion failed: You must provide either mongoUrl|clientPromise|client in optio

[2022-08-07 15:13] Mohamed-kamel91 opened #461 "Can't reuse an exisiting native mongo instance"
hi,
I am trying to connect express session to my native mongo store by reusing the existing mongo client instance, but no matter how much i try, it never seem to work at all.
when i run my app , i always end up with this error

Assertion failed: You must provide either mongoUrl|clientPromise|client in options
Error: Cannot init client. Please provide correct options
    at new MongoStore (D:\code\

[2022-10-08 09:46] maikknebel commented on #446
I have the same problem and since `esModuleInterop: true` will break other imports in my project, i will switch to redis maybe.